<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Maxnet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Maxnet Systems</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string/>
			<key>CFBundleURLName</key>
			<string>ru.maxnet.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>maxnetapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>18</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>telprompt</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Use FaceID to authenticate in application</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome5_Pro_Brands.ttf</string>
		<string>FontAwesome5_Pro_Regular.ttf</string>
		<string>FontAwesome5_Pro_Light.ttf</string>
		<string>FontAwesome5_Pro_Solid.ttf</string>
		<string>Roboto/Roboto-Bold.ttf</string>
		<string>Roboto/Roboto-BoldItalic.ttf</string>
		<string>Roboto/Roboto-Black.ttf</string>
		<string>Roboto/Roboto-BlackItalic.ttf</string>
		<string>Roboto/Roboto-Italic.ttf</string>
		<string>Roboto/Roboto-Light.ttf</string>
		<string>Roboto/Roboto-LightItalic.ttf</string>
		<string>Roboto/Roboto-Regular.ttf</string>
		<string>Roboto/Roboto-Medium.ttf</string>
		<string>Roboto/Roboto-MediumItalic.ttf</string>
		<string>Roboto/Roboto-Thin.ttf</string>
		<string>Roboto/Roboto-ThinItalic.ttf</string>

	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
